
.sliderItem {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

@media (min-width: 600px) {
    .sliderItem {
        width: calc(100%/2);
    }
}

@media (min-width: 768px) {
    .sliderItem {
        width: calc(100%/3);
    }
}

@media (min-width: 980px) {
    .sliderItem {
        width: calc(100%/4);
    }
}

@media (min-width: 1200px) {
    .sliderItem {
        width: calc(100%/5);
    }
}

@media (min-width: 1800px) {
    .sliderItem {
        width: calc(100%/6);
    }
}

.sliderItemInner{
    margin: 0 5px;
    border-radius: 2px;
    position: relative;
    
}

.cover {
    max-width: 100%;
    height: auto;
}