body {
  margin: 0;
  padding: 0;
}

.button-toggle-navbar{
  border: none;
}

.loading-indicator:before {
  content: '';
  background: #000000cc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: 'Loading';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 2000000;
  color:red;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;        
}

.swal2-title {
  font-size: 20px;
}


.swal2-content {
  font-size: 16px;
}

/* custom dropdown  */

.dd-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 38px;
  /* border: 1px solid #dfdfdf; */
  border-radius: 3px;
  cursor: default;
  position: relative;
  margin: 2px 20px;
  background-color: #fff;
}

.dd-header-title {
  font-weight: 500;
  margin-right: 30px;
}
.angle-down {
  color: #000;
  margin-right: 20px;
}

.dd-list-item {
  width: 100%;
  font-size: 1em;
  padding: 8px 10px;
  line-height: 1rem;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.dd-list-item.selected {
  color: #fff;
  background-color: #43BEF2;
}
.dd-list-item:hover {
  color: #fff;
  background-color: #43BEF2;
}
.dd-wrapper-single {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 265px;
}
.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}
.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}
.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}


@keyframes rotate {
  from {
   transform: rotate(0);
  }
  to {
   transform: rotate(360deg);
  }
 }
 
 @keyframes move1 {
  0%,
  5% {
   transform: translate(0, 0);
  }
  to {
   transform: translate(0, -100%);
  }
 }
 
 @keyframes move2 {
  0%,
  5% {
   transform: translate(0, 0);
  }
  to {
   transform: translate(100%, 100%);
  }
 }
 
 @keyframes move3 {
  0%,
  15% {
   transform: translate(0);
  }
  to {
   transform: translate(-100%, 100%);
  }
 }
 